*.o
*.cmi
*.cmx
*.conflicts
function
test
depend
frontend/Lexer.ml
frontend/Parser.ml
frontend/Parser.mli
frontend/PropertyLexer.ml
frontend/PropertyParser.ml
frontend/PropertyParser.mli
frontend/CTLPropertyLexer.ml
frontend/CTLPropertyParser.ml
frontend/CTLPropertyParser.mli
newfrontend/program_lexer.ml
newfrontend/program_parser.ml
newfrontend/program_parser.mli
newfrontend/Parser.conflicts
examples/**
_build/**
*.byte
*.native
ocamlbuild.sh
ocamlbuild_opt.sh
_tags
.idea
